version: '3.6'
services:
  graphql-engine:
    image: hasura/graphql-engine:v2.13.0
    depends_on:
      - postgres
      - oathkeeper
    restart: always
    env_file:
      - .env
    ports:
      - '8080:8080'
